*
        {
            margin:0;
        }
        body
        {
			margin: 0;
			padding: 0;
			font-family: "serif";
			background: rgba(0, 0, 0, 0.171) url("bg6.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-blend-mode: darken;
			color:rgb(0, 0, 0);
        }

		div.image {
            content:url(img1.png);
            position:absolute;
            left:700px;
            top:500px;
            width:500px; /*width of your image*/
            height:500px; /*height of your image*/

        }
